<%- include('../../partials/header', { title: title }) %>

<h3>Information For Account <%= user.username %></h3>
<p><b>User ID:</b> <%= user.u_id %></p>
<p><b>Username:</b> <%= user.username %></p>
<button class="btn btn-primary" type="button" id="cancelButton">Cancel</button>

<%- include('../../partials/footer') %>